exclude *.pyc *~ .DS_Store
#include .gitignore
include README.md
include requirements.txt
include runtests.sh
include setup.py
recursive-include docfield *
recursive-exclude docfield *.pyc *~ .DS_Store